// Colors

$color0: white;
$color1: #ffc5f3;
$color2: #fd89d4;
$color3: #3e7294;
$color4: #a163a7;
$color5: #57477b;
$color6: #273557;
$color7: #f6f6f6;
$color8: rgba(0, 0, 0, 0.445);



$box-shadow: inset 1.5px 1.5px 0 rgb(0 0 0 / 12%), inset 0 -1.5px 0 rgb(0 0 0 / 9%);

// layout
$layoutPadding: 20px;

$break-small: 550px;
$break-meduim: 650px;
$break-large: 1200px;
