.add-test{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 59vw;

    @include for-mobile-only{
        width: 98vw;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        & .button-container{
            display: flex;
            justify-content: space-between;

        }
        width: 100%;

        & .test-date{
            margin-top: 15px;
        }
        
    }
}