.pag-details {
    background-color: #e5e5e591;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include for-medium-layout {
        position: relative;
        width: 70%;

    }

    @include for-mobile-only {
        position: absolute;
        background-color: #ffff;
        top: 60px;
        height: 100vh;
        padding-top: 30px;
    }

    & .tests {
        text-align: center;

        h3 {
            text-decoration: underline;
        }

        & .test {

            &>* {
                padding: 2px;
            }
        }
    }

    h1,
    h2 {
        margin: 3px;
    }

    & .add-test-button {
        width: 70px;
        position: absolute;
        top: 15px;
        left: 15px;
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

}